@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --color1-- : #3386e9;
    --color2-- :#6feceb;

}


*{
    font-family: 'Share Tech Mono';
}

body{
    background: -webkit-linear-gradient(var(--color1--),var(--color2--));
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header{
    
    background-image: linear-gradient(to right , var(--color1--) , var(--color2--) );
    white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    transition: 0.4s;
   
}
/* alerts */

.pro-alert{
   position: fixed;
   top: 50%;
   width: 30vh;
   

}
.pro-alert .porto-link{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.carousel-control-prev-icon , .carousel-control-prev-icon{
    color: black;
}

/* navbar */
nav .rounded-pill{
    width: 60px;
    border-radius: 60px;

}

nav i{
    padding-right: 10px;
}
nav .nav-item{
    margin: 5px;
}
/* style the picture section */
.oics{
    
  border: solid 1px grey;  
}

.oics h2 , .oics h1 , .oics p{
    color: white;

}
.oics p{
    text-transform: capitalize;
}



/* loading page style start from here------------ */

#loader{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner{
    width: 25vh;
    height: 25vh;
    border: 2vh solid;
    border-radius: 32vh;
    border-bottom: none;
    border-left: none;
    position: fixed;
    transform: translate(50%, 50%);
    animation: spin linear 3s infinite ;
    transition: 0.4s;
    box-shadow: 10px 10px 20px var(--color2--);
}
@keyframes spin{
    from{
        transform: rotate(0deg);
       

    }
    to{
        transform: rotate(360deg);
       
    }
}
#spinner2{
    animation: spin2 infinite 3s linear;
    width: 15vh;
    height: 15vh;
    border: 2vh solid;
    border-radius: 20vh;
    position: fixed;
    border-right: none;
    border-top: none;
    box-shadow: -10px -10px 20px black;
}
@keyframes spin2{
    from{transform: rotate(360deg);}
    to{transform: rotate(0deg);}
}

.square {
    width: 20vh;
    height: 20vh;
    border-radius: 5vh;
    background-color: #444;
  }

  .load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
  

  @keyframes loadingG {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(50vh, 0) rotate(360deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
    
/* loading page end here------------ */



/* styling the about headers and about body*/
.mine{
    width: 30vh;
    box-shadow: 4px 4px 10px;
    padding: 0!important;
}
.WEB-DEV{
    color: black;
    font-weight: 700;
    
}
.MYNAME{
    font-weight: 700;
   
    background: -webkit-linear-gradient(  45deg,black, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    
}
 
.about-body{

    border: grey 1px solid;
    box-shadow: black 3px 2px 1px  ;
    display: none;
    background-size: cover;
  
}
.about-body p{
    color: black;
    text-transform: capitalize;
}
#about  h1 {
    color: white;
}


.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 13vh;
    margin: 4vh;
}

.logo-skill{
    width:  9vh;
}
.skill h4{
    font-size: 6vh;
}
/*footer styling ----FOOTER FOOTER FOOTER*/


.so-media i{
    color: black;
    transition: 0.4s;
    font-size: 3vh;
}
.so-media i:hover{
    color: white;
}

.so-media{
    display: block;
    text-align: center;
}
.footer .btn-contact{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* WORKS PAGE STYLING -----------------------------------------------------------------*/

.pro-header{
    font-weight: 700;
   
    background: -webkit-linear-gradient(  45deg,#3386e9, #6feceb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 
  
  .head-works{
      background-color: white;
  }
  .head-works .col{

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .work-card{
    background-size: cover;
    width: 38vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.5s;
    box-shadow: 7px 5px 20px;
    border: 2px solid;
  }

  .info-place{
    background: white;
    max-height: 50%;
    width: 38vh;
    transition: 0.5s;
    opacity: 0;

  }

  .work-card:hover .info-place{
    opacity: 1;
  }
  .title-work{
    font-size: 1em;
    color: black;
  }
  .info-p{
    font-size: 2vh;
    margin: 2vh 0;

  }

  .visit-btn{
    background-color: #6feceb;
  }




/* the best sites elemnts styling*/


.site{
    border: 1px black solid;
    border-radius: 3px;
    margin: 5px 10px;
    padding: 5px;
}
.site h3{
    color: black;
}




/* STYLING CREATE PAGE--------------------------------------------- */

#BODY-CREATE {
    background: -webkit-linear-gradient(var(--color1--),var(--color2--));
}

.resp h1{
font-weight: 500;
    background: -webkit-linear-gradient(  black, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



/* STYLING THE TOPICS PAGES---------------------------------------- */

/* style info place */

.head-topics{
    color: white;
    font-weight: 500;
}

.info-web{
    border: 2px solid;
}

.info-web h1{
    font-weight: 600;

}
.hd1 , .hd2 , .hd3{
    color: white;

}
.p1 , .p2 , .p3{
    display: none;
}


/* styling  the blogs*/

.w1{
    color: white;
}

.w2{
    color: white;
}

.study-b p {

    font-size: 3vh;

}

/* CONTACT MODAL HERE */

