@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --color1-- : #3386e9;
    --color2-- :#6feceb;

}


*{
    font-family: 'Share Tech Mono';
}

body{
    background: -webkit-linear-gradient(var(--color1--),var(--color2--));
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header{
    
    background-image: linear-gradient(to right , var(--color1--) , var(--color2--) );
    white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    transition: 0.4s;
   
}
/* alerts */

.pro-alert{
   position: fixed;
   top: 50%;

}
.pro-alert .porto-link{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

/* navbar */
nav .rounded-pill{
    width: 60px;
    border-radius: 60px;

}


/* style the picture section */
.oics{
    
  border: solid 1px grey;  
}

.oics h2 , .oics h1 , .oics p{
    color: white;

}
.oics p{
    text-transform: capitalize;
}




/* styling the about headers and about body*/

.WEB-DEV{
    color: black;
    font-weight: 700;
    
}
.MYNAME{
    font-weight: 700;
   
    background: -webkit-linear-gradient(  45deg,black, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    
}
 
.about-body{

    border: grey 1px solid;
    box-shadow: black 3px 2px 1px  ;
    display: none;
    background-size: cover;
  
}
.about-body p{
    color: black;
    text-transform: capitalize;
}
#about  h1 {
    color: white;
}
/*footer styling ----FOOTER FOOTER FOOTER*/


.so-media i{
    color: black;
    transition: 0.4s;
    font-size: 3vh;
}
.so-media i:hover{
    color: white;
}

.so-media{
    display: block;
    text-align: center;
}
.footer .btn-contact{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* WORKS PAGE STYLING -----------------------------------------------------------------*/

.pro-header{
    font-weight: 700;
   
    background: -webkit-linear-gradient(  45deg,#3386e9, #6feceb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 
  
  .head{
      background-color: white;
  }

  .card-img-top{
    width: 32vh;

  }




/* the best sites elemnts styling*/


.site{
    border: 1px black solid;
    border-radius: 3px;
    margin: 5px 10px;
    padding: 5px;
}
.site h3{
    color: black;
}




/* STYLING CREATE PAGE--------------------------------------------- */

#BODY-CREATE {
    background: -webkit-linear-gradient(var(--color1--),var(--color2--));
}

.resp h1{
font-weight: 500;
    background: -webkit-linear-gradient(  black, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



/* STYLING THE TOPICS PAGES---------------------------------------- */

/* style info place */

.head-topics{
    color: white;
    font-weight: 500;
}

.info-web h1{
    font-weight: 600;

}
.hd1 , .hd2 , .hd3{
    color: white;

}
.p1 , .p2 , .p3{
    display: none;
}


/* styling  the blogs*/

.w1{
    color: white;
}

.w2{
    color: white;
}

.study-b p {

    font-size: 3vh;

}

/* CONTACT MODAL HERE */

.modal-header{
    background-color: black;
}
.modal-body{
    background-image: linear-gradient(black,white);

}
.modal-title , .modal .form-label{
    color: white;
}