@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Share+Tech+Mono&display=swap');
:root{
    --c1--:rgb(210 173 180);
    --c2--:rgb(134 37 118);
    --c3--:rgb(171 38 103);
    --c4--:rgb(237 215 204);
}
*{
    font-family: 'Cairo', sans-serif;
 
}
body{
    background-image: url(imgs/prodect.png);
    background-size: cover;
}

#cart-logo{
    font-size: 30px;
    color: var(--c3--);
}

.cart_count{
    font-size: 12px;
}

.shop-body .col{
    margin: 4vh ;
}


.card{
    transition: 0.6s;

}


.card-img-overlay {
    background-color: white;
    transition: 0.6s;
    top: 50px;
    display: none;
  
}
.card:hover .card-img-overlay {
display: block;
}

.smp{
     top: 25px; /* for social media posts card */
}


/*footer*/
.footer a i{
    color: var(--c2--);
    text-align: center;
    font-size: 3vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    
}
.footer a {
    text-decoration: none;
    
}

.footer .sm{
    text-align: center;
}

