@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Share+Tech+Mono&display=swap');
/*navbar*/
:root{
    --c1--:rgb(210 173 180);
    --c2--:rgb(134 37 118);
    --c3--:rgb(171 38 103);
    --c4--:rgb(237 215 204);
}
*{
    font-family: 'Cairo', sans-serif;

}
body{
    background-image: url(imgs/body.png);
    background-size: cover;
}
.navbar-nav .nav-link{
    border-radius:20px ;
}
.navbar-nav .nav-link:hover{
    background:var(--c2--) ;
    color: var(--c4--)!; 

}
nav {
    justify-content: center;
}

/*styling  about section */

.about-body {
    border: 1px solid grey;
    border-radius: 5px;
}

.about-body p{
    color: var(--c1--);
    text-transform: capitalize;
    font-size: 3vh;
    font-family: cairo;
}

.about-body p i{
    font-size: 4vh;
    margin-right: 2vh;
}


.about-head{
    font-weight: 600;
    color: white;
}

.maha{
    color: var(--c3--);
    font-weight: 600;
}
.gra{
    color: var(--c2--);
}

/*styling the shop*/

.shop-head{
color: white;


}

.shop-row .col{
    margin-top: 2vh;
    margin-left:  2vh;
    margin-right: 3vh;
}


.card-img-overlay {
    background-color: white;
    transition: 0.6s;
    top: 50px;
    display: none;
  
}
.card:hover .card-img-overlay {
display: block;
}

/*footer*/
.footer a i{
    color: var(--c2--);
    text-align: center;
    font-size: 3vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    
}
.footer a {
    text-decoration: none;
    
}

.footer .sm{
    text-align: center;
}



/*OFFCANVAS*/
.offcanvas-header , .offcanvas-body{
    background-color: var(--c3--);
}

#co-lo{
    color: var(--c3--);
    
    left: 70%;
    top: 81%;
    z-index: 999;
    font-size: 8vh
}

/* comon */