@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Patua+One&family=Share+Tech+Mono&display=swap');

:root{
    --c1--: #ffc802;
    --c2-- :#8dad2d;

}
::selection{
    background-color: #8dad2d;
    color: brown;
}
*{
    font-family: 'Patua One', cursive;

}

body{
    background: radial-gradient(var(--c1--),var(--c2--));
}

/*navbar styling*/

nav {
    background-color: white;
}

nav a , nav .navbar-brand , nav .navbar-toggler .navbar-toggler-icon  {
    
    color: black;
}
.navbar-nav .nav-link{
    color: black;
}

/* style the carosel */
.d-block{
    width: 100%;
}
.cont-carusel{
    justify-content: center;
}
.carousel{
    width: 100vh;
}



/*styling the about section*/

.about{
    border-radius: 4px;

    background-color: white;
    box-shadow: black 3px 2px 5px;
}
.about-p{
    font-size: 2vh;
}

#visit-btn{

    background-color: #ffc802;
    color: black;
    transition: 0.4s;
}
#visit-btn:hover{
    background-color: transparent;
    color: #ffc802;

}

.offcanvas .list-group-item{
    display: flex;
    justify-content: space-between;
    margin: 3v 0;
}


/*visit page---------------------------------------------*/

#visit-head{
    font-weight: 900;
color: aliceblue;}



/*footer*/

.footer .rating i {
    font-size: 3vh;
    color: white;
    transform: translateX(2vh);
}

.footer .social i{
    font-size: 6vh;
    color: white;
    transform: translateX(4vh);
}
.footer .form-control{
    font-size: 2vh;
}
.rate-btn{
    background-color: #ffc802;
}
.message-rate{
    position: fixed;
    display: flex;
    background: #ffc802;
    color: black;
    justify-content: center;
    align-items: center;
    box-shadow: black 11px 16px 20px;
    transition: 0.7s;
    opacity: 0;
    width: 80%;
    height: 30%;
    margin: 5% auto;
    padding: 10px;
}

